*{
  margin: 0;
  padding: 0;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.img h1 {
  padding: 2rem;
  border-bottom: 5px ridge black;
}